<div class="container-fluid col-10" style="margin-top: 10px;">
    <div class="card" style="border: solid 1px; height: 25rem;">
        <div class="card-header" id="cardHeaderForCreateUser">
            <h3 class="font-weight-normal text-white offset-1" style="margin-top: 5px;"> USER DETAILS </h3>
        </div>
        <div class="card-body">
            <form action="#">
                <div class="form-row mt-4">
                    <div class="col-3 offset-1">
                        <div class="form-group">
                            <label class="font-weight-bold fon">Username:</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <label class="font-weight-bold fon">{{ username }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-3 offset-1">
                        <div class="form-group">
                            <label class="font-weight-bold fon">Designation:</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <label class="font-weight-bold fon">{{ Designation }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-3 offset-1">
                        <div class="form-group">
                            <label class="font-weight-bold fon">Email:</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <label class="font-weight-bold fon">{{ email }}</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-3 offset-1">
                        <div class="form-group">
                            <label class="font-weight-bold fon">Registration Date:</label>
                        </div>
                    </div>
                    <div class="">
                        <div class="form-group">
                            <label class="font-weight-bold fon">{{ registration }}</label>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="col col-3 offset-1">
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-block">CANCEL</button>
                </div>
            </div>
        </div>

    </div>


</div>

<!-- <div class="container-fluid">
    <div class="card shadow-lg col-4 offset-3 mb-2 bb">
        <h3 class="text-center text-light">User Details</h3>
        <div class="card-body">
            <img src="assets/profile.png" class="col-2 offset-5">
            <table cellspacing="0" cellpadding="10" class="mt-3 ">
                <tbody>
                    <tr>
                        <td>USERNAME</td>
                        <td>:</td>
                        <td>{{ username }}</td>
                    </tr>
                    <tr>
                        <td>NAME</td>
                        <td>:</td>
                        <td>{{ name }}</td>
                    </tr>
                    <tr>
                        <td>EMAIL</td>
                        <td>:</td>
                        <td>{{ email }}</td>
                    </tr>
                    <tr>
                        <td>REGISTRATION DATE</td>
                        <td>:</td>
                        <td>{{ registration }}</td>
                    </tr>
            </table>
        </div>
    </div>
</div> -->