<div class="container-fluid col-10" style="margin-top: 10px;">
    <div class="card" style="border: solid 1px; height: 33rem;">
        <div class="card-header" id="cardHeaderForCreateUser">
            <h3 class="font-weight-normal text-white text-center" style="margin-top: 5px;"> CHANGE PASSWORD </h3>
        </div>
        <div class="card-body">
            <form action="#">
                <div class="col-6 offset-3 mt-4">
                    <div class="form-group">
                        <label class="font-weight-bold">Current Password:<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Current Passwword" style="border: solid 1px;">
                    </div>
                </div>
                <div class="col-6 offset-3">
                    <div class="form-group">
                        <label class="font-weight-bold">New Password:<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="New Passwword" style="border: solid 1px;">
                    </div>
                </div>
                <div class="col-6 offset-3">
                    <div class="form-group">
                        <label class="font-weight-bold">Confirm Password:<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Confirm Password" style="border: solid 1px;">
                    </div>
                </div>
            </form>
            <br>
            <div class="col-4 offset-4">
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block font-weight-bold">SAVE</button>
                </div>
            </div>
        </div>

    </div>


</div>