<div class="container-fluid col-10" style="margin-top: 10px;">
    <div class="card" style="border: solid 1px; height: 33rem;">
        <div class="card-header" id="cardHeaderForCreateUser">
            <h3 class="font-weight-normal text-white text-center" style="margin-top: 5px;"> CONTACT US </h3>
        </div>
        <div class="card-body">
            <form action="#">
                <div class="form-row mt-4">
                    <div class="col col-4 offset-2">
                        <div class="form-group">
                            <label class="font-weight-bold">First Name:</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First Name"
                                style="border: solid 1px;">
                        </div>
                    </div>
                    <div class="col col-4 offset-1">
                        <div class="form-group">
                            <label class="font-weight-bold">Last Name:</label>
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Last Name"
                                style="border: solid 1px;">
                        </div>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="col col-9 offset-2">
                        <div class="form-group">
                            <label class="font-weight-bold">Email Address:</label>
                            <input type="email" class="form-control" id="formGroupExampleInput"
                                placeholder="Email Address" style="border: solid 1px;">
                        </div>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="col col-9 offset-2">
                        <div class="form-group">
                            <label for="Message" class="font-weight-bold">Message</label>
                            <textarea class="form-control" id="mmessage" rows="3" style="border: solid 1px;"></textarea>
                          </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="form-row ">
            <div class="col col-3 offset-3">
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block">SEND</button>
                </div>        
            </div>
            <div class="col col-3 offset-1">
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-block">CANCEL</button>
                </div>        
            </div>
        </div>
        </div>

    </div>


</div>